<% include partials/header.ejs%>
<style type="text/css"></style>
<div class="container">
		<h1 class="display-4 mt-3 mb-3">RESTful Blog App</h1>
		<% blogs.forEach(function(blog){ %>
		<div style="text-align:left;" class="border rounded shadow mb-5">
			<div class="container pt-3 pb-3">
				<div>
					<div class="row pl-0">
						<div style="height:4.5cm;float:left" class="col-3">
							<img class="img-fluid mb-0" style="height: 100%;width: 100%;" src="<%=blog.image%>">
							<hr/>
						</div>	
						<div class="col-9">
							<div class="container">
								<div>
									<h2 class="ml-3"><%=blog.title%></h2>	
									<span class="pl-3 text-muted"><%= blog.created.toDateString() %></span>
								
								<p class="pl-3"><%= blog.body.substring(0, 100) %>...</p>
								<a href="/blogs/<%= blog._id %>" style="width: 30%;" class="btn btn-primary ml-3">Read More...</a>
								<hr/>	
							</div>
						</div>
			</div>
			</div>
		</div>
</div>
</div>
<%});%>
</div>
<% include partials/footer.ejs%>